@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<button @onclick="Connect">Connect!</button>

@foreach (var pair in GameState.Delays)
{
    <p>Number @(pair.Key) delay @(pair.Value) ms</p>
}

@if (GameState.AverageDelay != 0)
{
    <p>Average delay: @(GameState.AverageDelay)</p>
}
