@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<button @onclick="Connect">Connect!</button>

<p>Current client tick: @(GameState.CurrentTick)</p>
<p>Current server tick: @(GameState.ServerTick)</p>
<p>Current echoed tick: @(GameState.EchoTick)</p>
